@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
ul,li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a {
	color: $text;
	&:hover {
		color: $text;
		text-decoration: none;
	}
}

header {
	.row {
		height: 100px;
		.logo-items {
			padding-left: 10px;
		}
		.logo-head {
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 700;
			
		}
		.logo-footer {
			text-transform: capitalize;
			
		}
		.menu {
			.menu__item {
				line-height: 35px;
				padding-left: 10px;
				padding-right: 10px;
				padding-top: 12px;
				padding-bottom: 12px;

				&:hover {
						background-color: $accent;
						transition: 13s out-in-ease;
						
					}
				a {
					text-transform: uppercase;
					display: block;
					
				}
			}
		}	
	}
}
%btn {
	height: 37px;
	background-color: $accent;
	text-transform: uppercase;
	color: white;
	border:none;
}
.brand {
	background: url(/img/jumbotron.jpg) no-repeat center center;
	background-size: cover;
	.row {
		height: 100%;
		min-height: 500px;
	}
		h1 {
			font-size: 55px;
			font-weight: 300;
			text-transform: capitalize;
			color: white;
			margin-bottom: 40px;
		}
		p {
			font-size: 18px;
			line-height: 25px;
			font-weight: 300;
			color: #adaaa8;
			margin-bottom: 50px;		
		}
		.btn {
			width: 122px;
			@extend %btn;
		}
}
.portfolio {
	h2 {
		font-size: 28px;
		padding-top: 53px;
		margin-bottom: 20px;
	}
	p {
		font-size: 16px;
		margin-bottom: 35px;

	}
	.btn {
		@extend %btn;
		margin-right: 7px;
		margin-left: 7px;
		margin-bottom: 45px;
	}
	.card {
		margin-bottom: 35px;
	}
	.cards {
		margin-bottom: 25px;
	}
}
.about {
	background-color: #16a086;
	h2 {
		font-size: 28px;
		color:white;
		padding-top: 57px;
		margin-bottom: 15px;
	}
	p {
		color:white;
		margin-bottom: 44px;
	}

	.block {
		width: 220px;
		margin: auto;
		background-color: white;
		h3 {
			font-size: 18px;
			color:$text;
			line-height: 18px;
			margin-bottom: 0px;
			padding-top: 20px;
		}
		span {
			font-style: italic;
			display: block;
			margin-bottom: 15px;
		}
		p {
			color:$text;
			text-align: left;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 20px;
		}
	}
}
.contact {
	h2 {
		font-size: 28px;
		color:$text;
		padding-top: 57px;
		margin-bottom: 15px;
	}
	p {
		color:$text;
		margin-bottom: 44px;
	}
	.form-group-input {
		width: 50%;
		margin-bottom: 22px;
		&:nth-child(1) {
		padding-right: 10px;
		}
		&:nth-child(2) {
			padding-left: 10px;
		}
	}
	input {
		border: 2px solid rgb(190, 195, 199);
		width: 100%;
		height: 50px;
	}
	textarea {
		border: 2px solid rgb(190, 195, 199);
	}
	.btn {
		margin-left: auto;
		@extend %btn;
		margin-top: 22px;
		width: 115px;
	}
	.info {
		h4 {
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		.info-li {
			font-weight: 600;
			padding-bottom: 20px;
		}
	}
}




@import "media"; // Always at the end
