@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
ul,li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a {
	color: $text;
	&:hover {
		color: $text;
		text-decoration: none;
	}
}

header {
	.row {
		height: 100px;
		.logo-items {
			padding-left: 10px;
		}
		.logo-head {
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 700;
			
		}
		.logo-footer {
			text-transform: capitalize;
			
		}
		.menu {
			.menu__item {
				line-height: 35px;
				padding-left: 10px;
				padding-right: 10px;
				padding-top: 12px;
				padding-bottom: 12px;

				&:hover {
						background-color: $accent;
						transition: 13s out-in-ease;
						
					}
				a {
					text-transform: uppercase;
					display: block;
					
				}
			}
		}	
	}
}

.brand {
	background: url(/img/jumbotron.jpg) no-repeat center center;
	background-size: cover;
	height: 100%;
	min-height: 500px;
		h1 {
			font-size: 55px;
			font-weight: 300;
			text-transform: capitalize;
			color: white;
			margin:auto;
		}
		p {
			font-size: 18px;
			line-height: 25px;
			font-weight: 300;
			color: #adaaa8;
			margin:auto;
		}
		.btn {
			width: 122px;
			height: 37px;
			background-color: $accent;
			text-transform: uppercase;
			color: white;
			border:none;
			margin:auto;
		}
}




@import "media"; // Always at the end
